*{
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Economica');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel');

a {
  text-decoration: none;
}


/* ---------------------HOME------------------ */
.App-home {
  /* background-image: -webkit-linear-gradient(top left,rgb(30,30,50) 25%, rgb(80,130,160)  50%, rgb(30,30,50) 70%); */
  background-image: url("./components/assets/home1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* min-width: 600px; */
  text-align: right;
  width: 100vw;
  height: 100vh;
  /* display: block; */
   /* overflow: auto; */
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  position: absolute;
  top: 50px;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: ceneter;
  height: 100px;
  padding: 10px;
  /* padding-top: 60px;
  padding-bottom: 60px; */
  color: rgb(0,80,120);
}

.App-title {
  text-align: left;
  font-size: 5em;
  font-family: 'Economica', sans-serif;
  text-shadow: 2px 2px grey;
  cursor: default;
  margin: 10px;
}
/*
.App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


.login-box {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  margin: 10px;
}




.login-home-button {
  /* background-image: -webkit-linear-gradient(top, rgb(70,50,20), rgb(80,80,20)); */
  background:transparent;
  -webkit-border-radius: 8;
  border-radius: 8px;
  font-family: 'Economica', cursive;
  color: #ff6040;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.home-footer {
  font-family: 'Economica';
  font-size: 10px;
  color: grey;
  text-align: left;
  padding: 10px;
  cursor: default;
}

@media (max-width: 420px) {
  header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* ------------------LOGIN---------------------- */

.App-login {
  background-image: url('./components/assets/loginbck.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-header {

  /* padding: 20px; */
  color: white;
  /* padding-left: 50px; */
  /* position: absolute;
  top: 30px;
  right: 30px; */
  text-align: right;
}

.login-title {
  color: white;
  padding: 50px;
  text-align: left;
  font-size: 4em;
  font-family: 'Economica', sans-serif;
}

.login-title a {
  /* background-image: -webkit-linear-gradient(top right,rgb(0,30,40) 25%, rgb(0,80,120)  60%, rgb(0,30,40) 70%); */
  color:white;
}

.login-container {
  align-content: center;
text-align: center;  /* width: 300px; */
  /* background: white; */
  padding: 50px;
  text-align: center;
  /* height: 100%; */
  margin: auto;
}

.reg-container {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
padding: 20px;
font-family: 'Trebuchet MS', sans-serif;
font-size: 12px;
display: inline-block;
}

.small-button {
  margin: 10px;  
  background: #aaaaaa;
  font-family: 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  /* border:none; */
  border-radius: 8px;
}

.big-button {
  margin: 10px;
  /* background: #666666; */
  background-image: linear-gradient(to bottom, #666666, #888888);
  border-radius: 8px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  text-decoration: none;
}

.align-input-fields {
  display: left;
    text-align: left;
    color: #666666;
}

.align-input-fields input {
  margin-left: 5px;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 1px 1px grey;
  font-family: 'Trebuchet MS', sans-serif;
  /* background: #eef0ff; */
  /* transform: scale(1.2); */
}
.align-input-fields textarea {
  margin-left: 5px;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 3px 1px grey;
  font-family: 'Trebuchet MS', sans-serif
  /* transform: scale(1.2); */
}

@media (max-width: 420px)  {
  .App-login {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
  }
  
  .login-title {
    padding: 10px;
    font-size: 2em
    
  }

  .login-container {
    padding: 10px;
  }

  .reg-container {
    padding: 5px;
  }

  .big-button {
    font-size: 12px;
    margin: 3px;
  }

  .small-button {
    font-size: 12px;
    margin: 3px;
  }
  
}

/* ------------------DASHBOARD-------------------- */
.dashboard {
  background: white;
  display: flex;
  padding-left: 50px;
}

/* main {
  flex: 1;
} */

.all-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  /* background-color: rgb(250, 245, 240); */
  width: 100px;  
/* padding: 50px; */
  padding-right: 20px;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  border-radius: 10px;
  /* border: 2px solid black; */
}

.all-title {
  background-image: -webkit-linear-gradient(top right,rgb(0,80,120) 25%, rgb(0,40,50)  60%, rgb(0,80,120) 70%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: right;
  font-size: 3em;
  font-family: 'Economica', sans-serif;
  
}

.all-title a {
 
  color: #005078;
}

.dash-greeting {
  background: white;
  text-align: left;
  padding-left: 20px;
  font-size: 1.6em;
  font-family: 'Trebuchet MS', sans-serif;
  color: rgb(100, 100, 100);
  margin: 20px 0 20px 0;
  cursor: default; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2em;
  font-family: 'Economica', cursive;
  color: rgb(100, 100, 100);
  /* display: flex;
  justify-content: space-around;
  align-items: center; */

}

.user-box img {
  margin: 5px;
  cursor: pointer;
}

.add-box {
  padding: 0 20px 0 0;
  display: flex;
	justify-content: flex-start;
	align-items: center;
}




.gallery-container {
  display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
  align-content: flex-start;
}

.entry-holder{
  background-color: #eeeeee;
  margin: 10px;
  padding: 10px;
  width: 300px;
  color: black;
  font-family: 'Satisfy', cursive;
  cursor: default;
  box-shadow: 1px 1px 3px grey;
}

.entry-holder:hover {
  box-shadow: 5px 10px 10px grey;
  /* background-color: white; */
  transform: scale(1.05);
  transition: 0.25s ease-out;
  -webkit-transition: .25s ease-out;
  
}


.entry-holder a {
  color: #ff6040 ;
  font-family: sans-serif;
  font-size: 12px;  
}

.entry-body {
  background-color: white;
  color: #333333;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 14px;
  /* max-width: 250px; */
  max-height:200px;
  overflow: hidden;
  margin: 10px 0 20px 0;
  }

.entry-body > img {
  width: 100%;
  cursor: default;
}

.gallery-container:hover .entry-holder:not(:hover) {
  filter: grayscale(0.7);
  transform: scale(0.9);
}

@media (max-width: 420px) {

  .dashboard {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 10px
  }
  .dash-greeting {
    display: none;
  }
  .all-header {
    justify-content: center;
    width: 100%;
  }
  .all-title {
    /* display: none; */
  }
  .user-box {
    flex-direction: row;
  }
  h1 {
    font-size: 24px;
  }
  h3 {
    display: none;
  }
  .align-input-fields textarea {
    width: 220px; 
  }
  .entry-holder a {
    color: #ff6040 ;
    /* font-family: sans-serif; */
    font-size: 16px;  
  }
  .gallery-container:hover .entry-holder:not(:hover) {
    filter: none;
  }
}

/* ------------------------VIEWER------------------------------- */
.Viewer {
  margin: 30px;
  max-width: 900px;
  padding-right: 30px;
}
 h1{
  font-family: 'Economica', sans-serif;
  color: rgb(0,80,120); 
}
 h3{
  font-family: 'Satisfy', cursive;
  color: #ff6040;
}
.Viewer p{
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.Viewer img {
  background-color: #eeeeee;
  padding: 10px;
}

#bigger-image {
  margin: auto;
  padding: 10px;

}
#bigger-image img {
  max-width: 600px;
}

#close-delete {
  display: flex;
  justify-content: space-between;
}
#entry-delete {
  color: rgb(0,80,120);
  cursor: pointer;
  font-family: 'Trebuchet MS',  sans-serif;
  background: #cccccc;
}
#entry-delete a {
  color: rgb(0,80,120);
  cursor: pointer;
  font-family: 'Trebuchet MS', sans-serif;
}


/* -------------------ADD ENTRY PAGE ------------------------- */
#journal-textbox {
  width: 300px;
  height: 200px;
}
/* --------------------------USER EDIT----------------------------*/
.user-edit-page {
  display: flex;
  justify-content: flex-start; 
}
  .prof-pic-big {
  border: 10px solid #eeeeee;
  width: 200px;
  max-height: max-content;
  overflow: hidden;
  margin-left: 50px;
}
.prof-pic-big img{
  width: 100%;
}
.prof-pic-small {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
}
.prof-pic-small img{
  width: 100%;
}
#user-deets {
  display: flex;
  align-items: center;
}

@media (max-width: 420px) {
  .prof-pic-big {
    margin-left: 10px;
    border: 3px solid #eeeeee;
  }
}

/* ----------------CONNECT----------------- */
.connect-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.connect-sub {
  flex:3;
  display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
  align-content: flex-start;
}

.google-places {
  max-width: 300px;
flex: 1;
  background-color: rgb(0,80,120);
  padding: 10px;
  display: block;
  color: black;
  font-family: 'Trebuchet MS', sans-serif;
  margin-top: 10px;
 
}
.google-place img {
  width: 100%;
}
.google-place {
  background: white;
  padding: 10px;
  margin-top: 10px;
}
.google-place p {
  font-size: 12px;
  margin: 0;
}
.google-place h5 {
  margin: 0;
}
.google-place h6 {
  margin: 0;
  font-style: italic;
}
.google-places h3{
  font-family: 'Satisfy', cursive;
  color: white;
}

@media (max-width: 420px) {
  .google-places {
    display: none;
  }
  .entry-holder {
    width: 100%;
    margin: 10px
  }
}


